.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #2d85b7, #ae2d87);
}
.main h4{
    text-align: center;
}
.Atm {
    height: 550px;
    background-color: #fff;
    width: 400px;
    border-radius: 20px;
    padding: 10px 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 40px;
}
.addamount{
    display: flex;
    justify-content: center;
}
.addamount input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    margin-top: 40px;
}
.currencydetail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note{
    margin: 20px 0px 0px 0px
}

.prefered_input{
    display: flex;
    flex-direction:row;
    margin-top: 20px;
    justify-content: center;
}
.input{
    width: 50px;
}
.cash{
    text-align: center;
    margin-top: 15px;
}
#cashbtn{
    width: 80px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid;
}